/* EJ FÄRDIG KOMMENTERAT */

html {
  height: 100%; /* verkar inte hjälpa, minskar man fönster så blir den inte 100% i höjd */
}
body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  min-height: 100%;
  background-image: url("./img/underwater.jpg");
  background-size: cover; /* kan inte få bakgrundsbilden att helt fylla sidan vid vissa storlekar av fönstret (se ovan) */
  /*background-repeat: no-repeat; /* vilket göra att jag inte kan använda no-repeat */
}
.banner { /* sätter toppbannerns storlek och färg */
  height: 180px;
  width: cover;
  background-color: #bcdcff;
}
.banner h1 {
  font-size: 500%;
  text-align: center;
  color: rgb(0, 60, 100);
}
.banner-menu { /* sätter menyradens storklek och färg */
  display: flex;
  height: 50px;
  background-color: #8cbfe9;
  border-top: 2px solid rgb(0, 60, 110);
  border-bottom: 2px solid rgb(0, 60, 110);
}
.banner-menu-links { /* sätter placeringen av de olika länkarna i menyraden */
  width: 950px;
  margin: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 150%;
}
.banner-menu-links > div {
  text-align: center;
  width: 200px;
  min-width: fit-content;
  margin: auto;
}
.banner-menu-links > div a {
  color: black;
  text-decoration: none;
}
.foot-banner { /* sätter botten bannerns plasering och storlek samt utseende */
  width: 100%;
  bottom: 0px;
  background-color: #bcdcff;
  height: 100px;
  border-top: 2px solid rgb(0, 60, 110);
  display: flex;
  flex-direction: row;
}
.foot-banner p {
  margin-top: 2%;
  margin: auto;
}
.loginContainer { /* login menyn */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: purple;
  padding: 10px;
  background-color: #e3f1ff;
  border-radius: 20%;
}
.loginContainer p {
  margin: 10px;
  color: red;
}
.login-windows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#closebtn { /* sätter en "knapp" för att stänga login menyn */
  position: absolute;
  top: 35px;
  right: 45px;
  width: 25px;
  height: 25px;
  background: grey;
  color: white;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
}
.login-window { /* sätter utseende av fälten för användarnamn och lösenord*/
  padding: 8px;
  width: 300px;
  height: 25px;
  text-indent: 50px;
}
.login-window:last-of-type {
  margin-top: 20px;
}
#user {
  background: url(./img/user.png) no-repeat;
  background-position: 7px;
  background-size: 10%;
  background-color: white;
}
#pass {
  background: url(./img/padlock.png) no-repeat;
  background-position: 7px;
  background-size: 10%;
  background-color: white;
}
#wel-msg {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 250%;
}
#log-h1 {
  color: black;
  margin-bottom: 25px;
  font-size: 250%;
}
.btn-row { /* sätter knapparnas placering */
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}
.btn-row > div {
  margin-top: 25px;
}
.btn { /* sätter knapparnas utesende */
  width: 180px;
  color: white;
  background: linear-gradient(90deg, rgb(0, 68, 255) 0%, rgb(0, 162, 255) 100%);
  padding: 15px 45px;
  font-size: 75%;
  font-weight: 900;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.btn:hover {
  color: rgb(0, 255, 255);
  transform: scaleX(0.9) scaleY(0.9);
}
.main-content { /* Huvud innehållet på sidan, inehåller 2 rader */
  width: 950px;
  margin: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.main-content-row-1 { /* används för det rad uppdelade innehållet */
  margin-top: 20px;
  width: 425px;
  margin-right: 40px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.main-content-row-1 h3 {
  margin-bottom: 0%;
  text-align: center;
}
.main-content-row-2 { /* används för det rad uppdelade innehållet */
  margin-top: 20px;
  width: 425px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.main-content-row-2 h3 {
  margin-bottom: 0%;
  text-align: center;
}
.hidden { /* används där element ska gömmas */
  display: none;
}
